<Layouts.app flash={@flash} debug={@debug} autosave={@autosave}>

    <div class="flex flex-row w-full gap-4">

        <div class="basis-128">
            <.left_top_menue state={@state} selected={@selected}>
            </.left_top_menue>

            <.left_bottom_menue state={@state} selected={@selected}>
            </.left_bottom_menue>
        </div>

        <div class="basis-full">
                <!-- name of each tab group should be unique -->
                <div class="tabs tabs-lift">
                    <input type="radio" name="mapping_tabs_1" class="tab" aria-label="input mapping" checked="checked" />
                    <div class="tab-content bg-base-100 border-base-300 p-2">
                        <div id="mapping_wrapper_input" class="bg-[url('/images/rohteil.jpeg')] bg-opacity-25 bg-cover w-full aspect-[16/9] bg-slate-100 relative" phx-hook="Stage">
                            <canvas id="mapping_input" class="max-w-full w-screen aspect-[16/9] max-h-full h-auto select-none p-0 m-0" phx-update="ignore"></canvas>
                        </div>
                        <div class="flex flex-row m-3">
                            <input type="text" placeholder="Small" class="input input-sm" />
                        </div>
                    </div>

                    <input type="radio" name="mapping_tabs_1" class="tab" aria-label="output mapping" />
                    <div class="tab-content bg-base-100 border-base-300 p-2">
                        <div id="mapping_wrapper_output" class="bg-[url('/images/stripes.png')] bg-opacity-25 bg-cover w-full aspect-[16/9] bg-slate-100 relative">
                            <canvas id="mapping_output" class="max-w-full w-screen aspect-[16/9] max-h-full h-auto select-none p-0 m-0" phx-update="ignore"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
  

      

</Layouts.app>
<Layouts.debug :if={@debug} state={@state} selected={@selected}>
</Layouts.debug>