<Layouts.app flash={@flash} debug={@debug} autosave={@autosave}>

    

    <div class="flex flex-row w-full gap-4">

        <div class="basis-1/4">
            <.left_top_menue state={@state} selected={@selected} />
    

            <.left_bottom_menue :if={@selected} state={@state} selected={@selected} />
            
        </div>

        <div class="basis-3/4">
                <div class="text-right w-3/4 absolute px-4 py-3 sm:px-6 lg:px-8">
                    <span class="text-xs px-4 sm:px-6 lg:px-8"><%= "#{@mapping_container_size.width} x #{@mapping_container_size.height}" %></span>
                </div>
                <!-- name of each tab group should be unique -->
                <div class="tabs tabs-lift">
                    <!--<input type="radio" name="mapping_tabs_1" class="tab" aria-label={"input mapping"} checked="checked" />-->
                    <input type="radio" name="mapping_tabs_1" class="tab" aria-label={"input mapping"} checked={if @side == "input" do true else false end } />
                    <div class="tab-content bg-base-100 border-base-300 p-2">
                        <div id="mapping_wrapper_input" class={"w-full aspect-[16/9] relative"} phx-hook="Stage">
                            <div id="mapping_backdrop_input" style={"opacity: #{@mapping_input["opacity"] * 0.01};"} class={"bg-[url('/images/maxresdefault.jpg')] z-10 bg-cover w-full aspect-[16/9] absolute"}></div>
                            <canvas id="mapping_input" class="max-w-full z-20 w-screen aspect-[16/9] max-h-full h-auto select-none p-0 m-0 relative" phx-update="ignore"></canvas>  
                        </div>
                        <.mapping_tool_menue side="input" state={@state} selected={@selected} mapping={@mapping_input} form={@form}/>
                    </div>

                    <input type="radio" name="mapping_tabs_1" class="tab" aria-label="output mapping" checked={if @side == "output" do true else false end } />
                    <div class="tab-content bg-base-100 border-base-300 p-2">
                        <div id="mapping_wrapper_output" class={"w-full aspect-[16/9] relative"} phx-hook="Stage">
                            <div id="mapping_backdrop_output" style={"opacity: #{@mapping_output["opacity"] * 0.01};"} class={"bg-[url('/images/stripes.png')] z-10 bg-cover w-full aspect-[16/9] absolute"}></div>
                            <canvas id="mapping_output" class="max-w-full z-20 w-screen aspect-[16/9] max-h-full h-auto select-none p-0 m-0 relative" phx-update="ignore"></canvas>  
                        </div>
                        <.mapping_tool_menue side="output" state={@state} selected={@selected} mapping={@mapping_output} form={@form}/>
                    </div>
                </div>
            </div>
        </div>   

</Layouts.app>
<Layouts.debug :if={@debug} state={@state} selected={@selected}>
</Layouts.debug>
<div :if={!@debug} class="min-h-64">
</div>